.border-left {
  border-left: 2px solid #555;
}

.border-right {
  border-right: 2px solid #555;
}
.roc_col{
  font-size: 12px;
  float: right;
  text-align: right;
  background-color: inherit;
}

.roc_col_left{
  font-size: 15px;
  float: left;
  width: 100%;
  text-align: left;
  background-color: inherit;
}

.val_highlight{
  background-color: #EAC43A;
}

.val_no_highlight{
  background-color: #FFFFFF;
}

/*------------------------------------------*/

.val_and_roc_head{
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: -10px;
  margin: auto;
}

.val_and_roc_subhead{
  text-align: center;
  color: #999;
  font-size: 11px;
  margin: auto;
  font-weight: normal;
  padding-bottom: -10px;
}


/*------------------------------------------*/

.col_group_head{
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 1px;
  margin: auto;
}


.col_group_subhead{
    font-size: 11px;
    color: #999;
    margin: auto;
    font-weight: normal;
}

/*------------------------------------------*/

.details_table{
  padding: 16px;
  padding-bottom: 14px;
  width: 700px;
}

.details_table h1{
  border-top: 1px dashed #555;
  border-top-width: 80%;
  padding: 5px;
  padding-top: 15px;
  font-size: 18px;
}

.details_head {
  font-size: 11px;
  height: 35px;
  margin: auto;
}

.details_subhead {
  color: #999;
  font-size: 10px;
}

.details_col {
  display: inline-block;
  padding: 2px 12px;
  border-radius: 15px;
  font-size: 13px;
  width: 90px;
}

.details_diff_vs_col{
  font-size: 13px;
  border-right: 1.5px solid #999;
}

/*------------------------------------------*/

.details_pop{
  padding-left: 24px;
  font-size: 15px;
  font-weight: 600;
  height: 35px;
}

.details_pop h2{
  font-size: 19px;
}

/*------------------------------------------*/

.col_group_head{
  font-weight: 600;
}

.col_group_head h1{
  font-size: 18px;
}


.col_group_head h2{
    font-size: 11px;
    color: #999;
}



/*------------------------------------------*/
.larger_smaller_nums {
    display: inline-block;
    background-color:#EAC43A;
    border-radius: 1px;
    padding: 3px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 12px;
    width: 115px;
    margin: auto;
}

.highlight_colour {
    display: inline-block;
    background-color:#EAC43A;
    border-radius: 1px;
    padding: 3px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 12px;
    margin: auto;
}




.filter_button_wrapper {
  width: 100%;
  display: flex;
  white-space: nowrap;
}

.download_button_box {
  margin: 10px;
  margin-top: 13px;
  display: inline-block;
  vertical-align: top;
}

.filter_select_box {
  margin: 10px;
  margin-top: 1px;
  display: inline-block;
  width: 300px;
  vertical-align: top;
}

.warning_box {
  white-space: normal;
  margin: 10px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  background-color: #E9D8D8;
  border-radius: 5px;
  padding: 15px;
  color: #A32E14;
}

.profile_container {
  overflow-y: scroll;
  height: auto;
}


.profile_total_container {
  height: 100%;
}

.profile_inner_container {
 height: 90%;
}

.indicator_double_table_container {
  height: 100%;
  margin-right: 5px;
  overflow-y: scroll;
}

.indicator_inner_upper_container {
  padding-bottom: 30px
}

.indicator_inner_lower_container {
  padding-top: 20px;
  border-top: 1px dashed #555;
}


/*------------------------------------------*/
/*------------------------------------------*/

.navbar-inverse {
  background-color: #655E9D;
  border-color: #3F3685;
  border-width: 2px;
}


.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    background-color: #3F3685;
    color: white;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: white;
  background-color: #3F3685;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #3393DD;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #3F3685;
}





